/itstack-demo-design-1-00/itstack-demo-design-1-00.iml
/itstack-demo-design-1-01/itstack-demo-design-1-01.iml
/itstack-demo-design-1-02/itstack-demo-design-1-02.iml
/itstack-demo-design-2-00/itstack-demo-design-2-00.iml
/itstack-demo-design-2-02/itstack-demo-design-2-02.iml
/itstack-demo-design-3-01/itstack-demo-design-3-01.iml
/itstack-demo-design-3-02/itstack-demo-design-3-02.iml
/itstack-demo-design-3-00/itstack-demo-design-3-00.iml
/itstack-demo-desgin-4-01/itstack-demo-desgin-4-01.iml
/itstack-demo-design-4-02/itstack-demo-design-4-02.iml
/itstack-demo-design-4-00/itstack-demo-design-4-00.iml
/itstack-demo-design-5-00/itstack-demo-design-5-00.iml
/itstack-demo-design-5-01/itstack-demo-design-5-01.iml
/itstack-demo-design-6-01/itstack-demo-design-6-01.iml
/itstack-demo-design-6-02/itstack-demo-design-6-02.iml
/itstack-demo-design-6-00/itstack-demo-design-6-00.iml
/itstack-demo-design-7-01/itstack-demo-design-7-01.iml
/itstack-demo-design-7-02/itstack-demo-design-7-02.iml
/itstack-demo-design-8-01/itstack-demo-design-8-01.iml
/itstack-demo-design-8-02/itstack-demo-design-8-02.iml
/itstack-demo-design-10-01/itstack-demo-design-10-01.iml
/itstack-demo-design-10-00/itstack-demo-design-10-00.iml
/itstack-demo-design-10-02/itstack-demo-design-10-02.iml
/doc/
/itstack-demo-design-13-01/itstack-demo-design-13-01.iml
/itstack-demo-design-13-02/itstack-demo-design-13-02.iml
/itstack-demo-design-13-00/itstack-demo-design-13-00.iml
/itstack-demo-design-16-02/itstack-demo-design-16-02.iml
/itstack-demo-design-16-01/itstack-demo-design-16-01.iml
/itstack-demo-design-17-00/itstack-demo-design-17-00.iml
/itstack-demo-design-18-02/itstack-demo-design-18-02.iml
/itstack-demo-design-18-01/itstack-demo-design-18-01.iml
/itstack-demo-design-18-00/itstack-demo-design-18-00.iml
/itstack-demo-design-19-02/itstack-demo-design-19-02.iml
/itstack-demo-design-19-01/itstack-demo-design-19-01.iml
/itstack-demo-design-19-00/itstack-demo-design-19-00.iml
/itstack-demo-design-20-01/itstack-demo-design-20-01.iml
/itstack-demo-design-21-00/itstack-demo-design-21-00.iml
/itstack-demo-design-22-00/itstack-demo-design-22-00.iml
### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Generated files
.idea/**/contentModel.xml

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  Uncomment if using
# auto-import.
# .idea/artifacts
# .idea/compiler.xml
# .idea/jarRepositories.xml
# .idea/modules.xml
# .idea/*.iml
# .idea/modules
# *.iml
# *.ipr

# CMake
cmake-build-*/

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based Rest Client
.idea/httpRequests

# Android studio 3.1+ serialized cache file
.idea/caches/build_file_checksums.ser

